<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main">

<head>

<title>Books</title>
	<link rel="stylesheet" href="css/carousel.css"
		th:href="@{/css/carousel.css}" />

</head>

<body>

	<div layout:fragment="content">
		<div class="container">
		
		<fieldset>
			<legend>Book List</legend>
		 <div class="container">
           
            <table class="table table-striped">
                  <thead>
                        <tr>
                            <th>Id</th>
                            <th>Book Name</th>
                            <th>Author</th>
                            <th>Purchase Date</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                 </thead>
                 <tbody>
                 
                 <tr th:each="book : ${books}">
                    <td th:text="${book.id}">00</td>
                    <td th:text="${book.bookName}">Book Name</td>
                    <td th:text="${book.author}">Author</td>
                    <td th:text="${book.purchaseDate}">Purchase Date</td>
                    <td><a th:href="@{/update(id=${book.id})}" ><div class="glyphicon glyphicon-pencil"></div></a></td>
                    <td><a th:href="@{/delete(id=${book.id})}" ><div class="glyphicon glyphicon-trash"></div></a></td>
                </tr>
                 
                </tbody>
         </table>
      </div>
			            

        </fieldset>

		</div>
	</div>
</body>
</html>